html {
   font-size:22px;
}

body {
   background-color:#222;
   color:whitesmoke;
}

a {
   color:aliceblue;
}

a:visited {
   color:lightblue;
}

a:hover, a:active {
   color:#fff;
}

table, tr, th, td, caption {
   border: 1px solid #eee;
   font-family: 'Courier New', Courier, monospace;
   border-collapse: collapse;
   padding: 0.5rem;
}